MYSQL_USER=avito
MYSQL_PASSWORD=cosine-hedgehog
MYSQL_DATABASE=avito_json
MYSQL_ROOT_PASSWORD=ruODRkA3oXYejfw?0aPx
# Replace 'mysql' with 'localhost' if you do not want use Docker image for mysql.
MYSQL_HOST=mysql
MYSQL_PORT=3306

DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}?charset=utf8"
FLASK_ENV='development'
